= form_for [@group, @message] do |f|
  .input-box
    = f.text_field :body, class: 'input-box__text', placeholder: 'type a message'
    = f.label :image, class: 'input-box__image' do
      = fa_icon 'picture-o', class: 'icon'
      = f.file_field :image, class: 'hidden'
  = f.submit 'Send', class: 'new_message__submit'
